
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/single.css">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- Header -->
    <header>
      <div class="center">
        <div class="logo">
          <h2>
            <a href="/">
              <span style="font-weight:lighter">Artur</span><b>News</b>
            </a>
          </h2>
        </div>

        <div class="form-busca">
          <form action="/">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="busca" placeholder="Busca...">
          </form>
        </div>
      </div>
    </header>
